/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
html {
  font-size: 62.5%;
  background-color: #7fb7ff;
  padding: 1%;
}
@media (max-width: 500px) {
  html {
    font-size: 55%;
  }
}
body {
  max-width: 1000px;
  height: auto;
  margin: 50px auto 50px;
  background-color: #fff;
  padding: 4%;
  box-shadow: 0px 0px 24px -3px rgba(0, 0, 0, 0.8);
  font-family: "Open Sans", sans-serif;
}
@media (max-width: 500px) {
  body {
    margin: 0 0 1%;
  }
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Lato;
  font-weight: 700;
}
h1 {
  font-size: 4em;
  margin-bottom: 2px;
}
h2 {
  font-size: 3rem;
}
h3 {
  font-size: 2.1rem;
  font-weight: 400;
  margin-bottom: 5px;
}
h4 {
  font-size: 1.5em;
  color: #008cff;
  margin-bottom: 9px;
}
h5 {
  font-size: 1.3rem;
  font-weight: 400;
}
p {
  font-size: 1.5rem;
}
.blue-icon {
  color: #008cff;
  margin-right: 0.3em;
  min-width: 15px;
}
i.fas,
i.fab {
  color: #008cff;
  margin-right: 0.3em;
  min-width: 15px;
}
.flex {
  display: flex;
  flex-direction: row;
}
@media (max-width: 500px) {
  .flex {
    flex-direction: column;
  }
}
.left-side {
  width: 60%;
  padding-right: 3%;
}
.right-side {
  width: 40%;
}
@media (max-width: 500px) {
  .left-side,
  .right-side {
    width: 100%;
  }
}
/* Header */
header {
  display: flex;
  flex-direction: row;
  margin-bottom: 25px;
}
@media (max-width: 500px) {
  header {
    flex-direction: column;
  }
}
header h2 {
  font-size: 2em;
  color: #008cff;
  margin-bottom: 15px;
}
header p.intro {
  font-family: Lato;
  margin-bottom: 25px;
}
@media (max-width: 500px) {
  header .introduction {
    order: 2;
  }
}
header .contact-info {
  display: flex;
  flex-direction: row;
}
@media (max-width: 500px) {
  header .contact-info {
    flex-direction: column;
  }
}
header .contact-info p {
  font-size: 1.3rem;
  font-weight: 600;
  margin-bottom: 10px;
}
header .contact-info i.fas,
header .contact-info i.fab {
  color: #008cff;
  margin-right: 0.3em;
  min-width: 15px;
  font-size: 0.9em;
}
@media (max-width: 500px) {
  header .contact-info {
    order: 1;
    flex-direction: row;
  }
}
header .image-box {
  width: 180px;
  height: 180px;
  margin: 0 auto;
  position: relative;
  background-color: #008cff;
  border-radius: 50%;
}
header .image-box img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
/* Nav */
nav {
  background-color: #008cff;
  padding: 10px 0;
}
nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
@media (max-width: 500px) {
  nav ul {
    flex-direction: column;
  }
}
@media (max-width: 500px) {
  nav ul {
    flex-direction: row;
  }
}
nav li {
  list-style-type: none;
  color: #fff;
  font-size: 1.8em;
  font-weight: 600;
  text-transform: uppercase;
}
/* Main */
main h2 {
  text-transform: uppercase;
  border-bottom: 3px solid #000;
  margin: 35px 0 15px;
  padding-bottom: 5px;
}
main ul {
  margin-left: 17px;
}
main ul li {
  list-style-type: disc;
  font-size: 1.3rem;
  font-weight: 300;
  letter-spacing: 0.5px;
  line-height: 1.5;
  margin: 5px 0;
  color: #5f5f5f;
}
main section.main-content {
  display: flex;
  flex-direction: row;
}
@media (max-width: 500px) {
  main section.main-content {
    flex-direction: column;
  }
}
main div.left-side div {
  margin: 0 0 25px;
  padding: 0 0 15px;
  border-bottom: 2px dashed #a2a2a2;
}
main div.right-side div {
  margin: 0 0 17px;
  padding: 0 0 14px;
  border-bottom: 2px dashed #a2a2a2;
}
main div.right-side div p {
  font-size: 1.6rem;
  font-weight: 600;
}
main div.right-side i.fas,
main div.right-side i.fab {
  color: #008cff;
  font-size: 1.2em;
}
